/* General - whole page----------------------------------------------------------------------------------- */

body {
  font-family: "Montserrat";
  color: #464646;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8ec9d7;
  margin: 0;
}

path.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

/* -------------------------------NavBar---------------------------------- */

.desktopMenu,
.desktopDropdown {
  display: none;
}

nav {
  background-color: #8ec9d7;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  transition: top 1.25s;
  z-index: 100000;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

.dropdownExcluder {
  background-color: #8ec9d7;
  position: relative;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 175px;
  margin-left: 40px;
}

.burgerMenu {
  margin: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.burgerMenu i {
  font-size: 30px;
  color: #edeeef;
  outline: none;
}

#burgerMenu {
  position: absolute;
  z-index: -10;
}

.dropdownContent {
  position: absolute;
  right: -35px;
  top: -100vh;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f7f7f7;
  -webkit-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 12px 47px -25px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
  z-index: 1;
  border-radius: 5px;
}

.dropdownContent a {
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  color: #282828;
  outline: none;
}

#firstDropdownItem {
  padding-top: 100px;
}

.menuSlideDown {
  position: absolute;
  top: -300%;
  animation: slide-down 1s forwards ease-out;
}

@keyframes slide-down {
  100% {
    top: -35px;
  }
}

.menuSlideUp {
  position: absolute;
  top: 35px;
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  100% {
    top: -400%;
  }
}

#burgerIcon.menuOpen {
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
}

#burgerIcon.menuClosed {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

/* Header   ----------------------------------------------------------------------------------- */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #8ec9d7;
  width: 100%;
  height: 100vh;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-top: 20%;
  color: #f3f3f3;
}

.headerContainer > h1 {
  font-size: 24px;
  text-align: center;
}

.headerContainer > h2 {
  font-size: 16px;
  text-align: center;
}

.headerContainer > p {
  font-size: 14px;
  text-align: center;
}

a {
  color: #464646;
}

.arrowDown {
  position: relative;
}

#arrowDown {
  font-size: 60px;
  position: absolute;
  bottom: -80px;
  left: -20px;
}

/* General - Sections specific----------------------------------------------------------------------------------- */

section {
  width: 96%;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.chart {
  background-color: #f5f5f5;
  margin: 2px;
  border-radius: 12px;
  padding: 2px;
  width: 100%;
}

.dimensionalChart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3 {
  height: 20px;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
}

.dimensionalChart > div,
.dimensionalChart > h3 {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  widows: 100%;
  width: 100%;
}

#sectionTitle {
  color: white;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 10px;
}

/* Section Demographics----------------------------------------------------------------------------------- */

.demographics {
  max-width: 99.999%;
  padding: 5px;
  background-color: #f47d8d;
  border-radius: 12px;
  margin-top: 10px;
}

a i {
  color: #f5f5f5;
}

#section1ChartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart2 > div {
  font-size: 12px;
}
.chart4 > div {
  font-size: 12px;
}

/* Section Employment----------------------------------------------------------------------------------- */

.employment {
  margin-top: 10px;
  max-width: 99.999%;
  padding: 5px;
  background-color: #9bd187;
  border-radius: 12px;
}

#section2ChartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Section Bootcamp----------------------------------------------------------------------------------- */

.bootcamp {
  margin-top: 10px;
  max-width: 99.999%;
  padding: 5px;
  background-color: #8ec9d7;
  border-radius: 12px;
}

#section3ChartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chart10 > div {
  font-size: 12px;
}

/* -------------------------------Footer----------------------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #8ec9d7;
  margin-top: 0;
  color: #edeeef;
  font-size: 15px;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
}

footer .logo img {
  width: 200px;
  margin: 25px 25px 0 25px;
}

.footerAnchors {
  display: flex;
  flex-direction: row;
}

.footerAnchors a {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
  color: #edeeef;
  outline: none;
  margin: 10px;
  white-space: nowrap;
}

.footerSocialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 80%;
}

.footerSocialLinks a i {
  color: #edeeef;
  margin: 10px;
  font-size: 35px;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.developer a {
  text-decoration: none;
  color: #edeeef;
  cursor: pointer;
}

.freePik {
  text-align: center;
  margin: 10px 20px;
}

.freePik a {
  color: #edeeef;
  text-decoration: none;
}

/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */
/* -------------------------------MediaQuery---------------------------------- */

@media screen and (min-width: 900px) {
  /* General - whole page----------------------------------------------------------------------------------- */

  body {
    font-family: "Montserrat";
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8ec9d7;
    margin: 0;
  }

  path.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
  }
  /* -------------------------------NavBar---------------------------------- */

  .mobileMenu,
  .dropdownMenu {
    display: none;
  }

  .desktopMenu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 20%;
    flex-wrap: nowrap;
  }

  .desktopMenu a {
    text-decoration: none;
    color: #edeeef;
    font-weight: 600;
    margin: 10px;
    white-space: nowrap;
  }

  .desktopDropdownBtn {
    padding: 20px 30px;
  }

  .desktopDropdownContent {
    position: absolute;
    right: 32%;
    top: 50%;
    margin: 28px;
    padding: 0;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  }

  .desktopDropdownContent a {
    font-size: 14px;
    width: 125px;
    height: 25px;
    padding: 10px 15px;
    text-decoration: none;
    color: #282828;
    outline: none;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
  }

  .dropdownItem:hover {
    background-color: grey;
    color: #edeeef;
    transition: all 0.2s ease-in-out;
  }

  .desktopDropdownBtn:hover .menuBtn {
    color: grey;
    transition: all 0.2s ease-in-out;
  }

  .desktopDropdownBtn:hover .desktopDropdownContent {
    display: flex;
  }

  .nonDropdownMenuitem:hover {
    color: gray;
    transition: all 0.3s ease-in-out;
  }

  /* Header   ----------------------------------------------------------------------------------- */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8ec9d7;
    width: 100%;
    height: 100vh;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 50px;
    margin-top: 10px;
    color: #f3f3f3;
  }

  .headerContainer > h1 {
    font-size: 40px;
    text-align: center;
  }

  .headerContainer > h2 {
    text-align: center;
  }

  .headerContainer > p {
    font-size: 18px;
    text-align: center;
  }

  a {
    color: #464646;
  }

  .arrowDown {
    position: relative;
  }

  #arrowDown {
    font-size: 60px;
    position: absolute;
    bottom: -80px;
    left: -20px;
  }

  /* General - Sections specific----------------------------------------------------------------------------------- */

  section {
    width: 96%;
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
  }

  .chart {
    background-color: #f5f5f5;
    margin: 2px;
    border-radius: 12px;
    padding: 2px;
    width: 100%;
  }

  .dimensionalChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h3 {
    height: 20px;
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
  }

  .dimensionalChart > div,
  .dimensionalChart > h3 {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    widows: 100%;
    width: 100%;
  }

  #sectionTitle {
    color: white;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 10px;
  }

  /* Section Demographics----------------------------------------------------------------------------------- */

  .demographics {
    max-width: 99.999%;
    padding: 5px;
    background-color: #f47d8d;
    border-radius: 12px;
    margin-top: 10px;
  }

  a i {
    color: #f5f5f5;
  }

  #section1ChartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .chart1 {
    width: 98%;
  }

  .chart2 {
    padding-bottom: 10px;
    width: 64%;
  }

  .chart2 > div {
    font-size: 12px;
  }

  .chart3 {
    width: 33%;
  }

  .chart4 {
    width: 64%;
  }

  .chart4 > div {
    font-size: 12px;
  }

  .chart5 {
    width: 33%;
  }

  /* Section Employment----------------------------------------------------------------------------------- */

  .employment {
    margin-top: 10px;
    max-width: 99.999%;
    padding: 5px;
    background-color: #9bd187;
    border-radius: 12px;
  }

  #section2ChartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .chart6 {
    width: 98%;
  }

  .chart7 {
    width: 64%;
  }

  .chart8 {
    width: 33%;
  }

  .chart7 {
    font-size: 12px;
  }

  /* Section Bootcamp----------------------------------------------------------------------------------- */

  .bootcamp {
    margin-top: 10px;
    max-width: 99.999%;
    padding: 5px;
    background-color: #8ec9d7;
    border-radius: 12px;
  }

  #section3ChartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .chart9 {
    width: 49%;
  }

  .chart10 {
    width: 49%;
  }

  .chart10 > div {
    font-size: 12px;
  }

  /* -------------------------------Footer----------------------------------- */

  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #8ec9d7;
    margin-top: 0;
    color: #edeeef;
    font-size: 15px;
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  }

  footer .logo img {
    width: 200px;
    margin: 25px 25px 0 25px;
  }

  .footerAnchors {
    display: flex;
    flex-direction: row;
  }

  .footerAnchors a {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    color: #edeeef;
    outline: none;
    margin: 10px;
    white-space: nowrap;
  }

  .footerSocialLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
    width: 80%;
  }

  .footerSocialLinks a i {
    color: #edeeef;
    margin: 10px;
    font-size: 35px;
  }

  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
  }

  .developer a {
    text-decoration: none;
    color: #edeeef;
    cursor: pointer;
  }

  .freePik {
    text-align: center;
    margin: 10px 20px;
  }

  .freePik a {
    color: #edeeef;
    text-decoration: none;
  }

  /* -------------------------------Footer----------------------------------- */
}
